@using getsetcode.Web.Extensions.HelperExtensions
            <footer>
                <span>@DateTime.Today.ToString("yyyy") &copy; @Html.BrandName() Limited<!-- | VAT reg. 08297469--> | @Html.ActionLink("About this website", "About", "Home", null, new { title = "About this website" })</span>
            </footer>